<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{.question.Title}}</title>
    <!--导入css-->
    <link href="/static/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--导入jquery.js-->
    <script src="/static/vendors/jquery/dist/jquery.min.js"></script>
    <!--导入bootstrap.js-->
    <script src="/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body style="background: #EFEFEF;color:#666666">
<div class="container" >
    <div class="jumbotron" style="background: #fff;margin:5px;">
        <div class="page-header">
            <h3 class="text-center">{{.question.Title}}</h3>
            <p class="text-warning">
            {{.question.Description}}
            </p>
        </div>
        <form role="form" id="pager-form">
            {{range $Sindex,$Selector:=.question.Selector}}

                {{if eq $Selector.TemplateType 1}}
                    <div class="form-group">
                        <label for="name">{{$Sindex | add}}、{{$Selector.Title}}</label>
                        {{range $Oindex,$Option:=$Selector.Option}}
                            <div class="radio">
                                <label><input type="radio" name="selector_{{$Selector.Id}}" value="{{$Option.Id}}">{{$Option.Title}}</label>
                            </div>
                        {{end}}
                    </div>
                {{end}}

                {{if eq $Selector.TemplateType 2}}
                    <div class="form-group">
                        <label for="name">{{$Sindex | add}}、{{$Selector.Title}}</label>
                        {{range $Oindex,$Option:=$Selector.Option}}
                            <div class="checkbox">
                                <label><input type="checkbox" name="selector_{{$Selector.Id}}" value="{{$Option.Id}}">{{$Option.Title}}</label>
                            </div>
                        {{end}}
                    </div>
                {{end}}

                {{if eq $Selector.TemplateType 3}}
                    {{if eq ($Selector.Option|len) 1}}
                        <div class="form-group">
                            <label for="name">{{$Sindex | add}}、{{$Selector.Title}}</label>
                            {{range $Oindex,$Option:=$Selector.Option}}
                                <input type="hidden" name="selector_{{$Selector.Id}}[opt_{{$Option.Id}}]" value="">
                                <div class="star-group">
                                    <i class="star empty-star"></i>
                                    <i class="star empty-star"></i>
                                    <i class="star empty-star"></i>
                                    <i class="star empty-star"></i>
                                    <i class="star empty-star"></i>
                                </div>
                            {{end}}
                        </div>
                    {{else}}
                        <div class="star-group">
                            <label for="name">{{$Sindex | add}}、{{$Selector.Title}}</label>
                            {{range $Oindex,$Option:=$Selector.Option}}
                                <div class="star-group">
                                    <label class="star-title">{{$Option.Title}}：</label>
                                    <input type="hidden" name="selector_{{$Selector.Id}}[opt_{{$Option.Id}}]" value="">
                                    <div class="star-options">
                                        <i class="star empty-star"></i>
                                        <i class="star empty-star"></i>
                                        <i class="star empty-star"></i>
                                        <i class="star empty-star"></i>
                                        <i class="star empty-star"></i>
                                    </div>
                                </div>
                            {{end}}
                        </div>
                    {{end}}
                {{end}}

                {{if eq $Selector.TemplateType 4}}
                    <div class="form-group">
                    <label for="name">{{$Sindex | add}}、{{$Selector.Title}}</label>
                        {{if eq ($Selector.Option|len) 1}}
                            {{range $Oindex,$Option:=$Selector.Option}}
                                <input type="text" class="form-control" name="selector_{{$Selector.Id}}[opt_{{$Option.Id}}]">
                            {{end}}
                        {{else}}
                            {{range $Oindex,$Option:=$Selector.Option}}
                                <div class="input-group ">
                                    <span class="input-group-addon">{{$Option.Title}}：</span>
                                    <input type="text" class="form-control" name="selector_{{$Selector.Id}}[opt_{{$Option.Id}}]">
                                </div>
                                <br>
                            {{end}}
                        {{end}}
                    </div>
                {{end}}

            {{end}}
            <br>
            <br>
            <br>
            {{if .isshow}}
                <div class="text-center">
                    <button type="submit" class="btn btn-success text-center">提交问卷</button>
                </div>
            {{end}}
        </form>
    </div>
    <script>
        $('.star').bind('click',function(){
            var point = $(this).index()+1;

            $(this).parent().find('.star').removeClass('fill-star').addClass('empty-star');
            $(this).parent().find('.star:lt('+ point +')').removeClass('empty-star').addClass('fill-star');

            $(this).parent().prev().val(point)
        });

        $('#pager-form').bind('submit',function(){
            var formObject = {};
            var formArray = $(this).serializeArray();
            formObject.question_id = {{.question.Id}}
            $.each(formArray,function(i,item){
                if(item.name.indexOf('[opt_')!==-1){
                    tmp = item.name.split('[');
                    item.name = tmp[0];
                    opt = tmp[1].split(']');
                    var fill = {}
                    fill[opt[0]] = item.value;
                    if(formObject[item.name]){
                        formObject[item.name].push(fill)
                    }else{
                        var arr = [];
                        arr.push(fill);
                        formObject[item.name] = arr;
                    }
                }else{
                    if(formObject[item.name]){
                        formObject[item.name].push(item.value)
                    }else{
                        var arr = [];
                        arr.push(item.value);
                        formObject[item.name] = arr;
                    }
                }
            });
            for(var i in formArray){
                if(!formArray[i].value){
                    alert('请完成问卷后提交！')
                    return false;
                }
            }
            $.ajax({
                url:"/questionpage-{{.question.Id}}",
                dataType:"json",
                contentType: "application/json; charset=utf-8",
                type:"post",
                async:"false",
                data:JSON.stringify(formObject),
                success:function (jsondata) {
                    if(jsondata.Code==0) {
                        if(jsondata.Content >0 ){
                        }
                    }else{
                        alert(jsondata.Msg)
                    }
                }
            });
            return false;
        });
    </script>
    <style>
        .empty-star{
            display: inline-block;
            width: 32px;
            height: 32px;
            background: url(/static/images/score_type_1.png) no-repeat;
        }
        .fill-star{
            display: inline-block;
            width: 32px;
            height: 32px;
            background: url(/static/images/score_type_2.png) no-repeat;
        }
        .star-group{
            float: left;
            width: 100%;
            margin-bottom: 10px;
        }
        .star-title{
            padding: 6px 12px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            color: #555;
            text-align: center;
        }
        .star-options{
            display:inline-block;
            position:absolute;
        }
    </style>
</div>
</body>
</html>