<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{.question.Title}}</title>
    <!--导入css-->
    <link href="/static/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--导入jquery.js-->
    <script src="/static/vendors/jquery/dist/jquery.min.js"></script>
    <!--导入bootstrap.js-->
    <script src="/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body style="background: #EFEFEF;color:#666666">
<div class="container" >
    <div class="jumbotron" style="background: #fff;margin:5px;">
        <div class="page-header">
            <h3 class="text-center">{{.questionpage}}</h3>
            <p class="text-warning">
            {{.questionpage}}
            </p>
        </div>
    </div>
</div>
</body>
</html>