<div class="form-group" option-id="{{.option.Id}}">
    <label class="control-label col-md-1 col-sm-3 col-xs-12">
    </label>
    <div class="col-md-5 col-sm-6 col-xs-12">
        <input class="date-picker form-control col-md-7 col-xs-12" required="required" type="text" name="title" value="{{.option.Title}}"  onchange="updateData($(this),{{.option.Id}},'option')">
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <input type="text" class="form-control" disabled="disabled" placeholder="请填写……">
    </div>
    <div class="col-md-1 col-sm-6 col-xs-12">
        <span class="glyphicon glyphicon-plus" style="margin-top:10px;display:block;" onclick="manageOption($(this),4,0)"></span>
        <span class="glyphicon glyphicon-minus"  style="margin-top:10px;display:none;" onclick="manageOption($(this),4,1)"></span>
    </div>
</div>