<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Form Elements</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-3 pull-right">
                <div class="x_panel">
                    <div class="x_content">
                        <a class="btn btn-success">
                            <i class="fa fa-save"></i> 发布并分享
                        </a>
                        <a class="btn btn-info">
                            <i class="fa fa-play"></i> 预览
                        </a>
                    </div>
                </div>
                <div class="x_panel">
                    <div class="x_content">
                        <p>双击添加</p>
                        <a class="btn btn-app create-selector-template" ondblclick="createSelector(1)">
                            <i class="fa fa-circle-o"></i> 单选
                        </a>
                        <a class="btn btn-app create-selector-template" ondblclick="createSelector(2)">
                            <i class="fa fa-check-square-o"></i> 多选
                        </a>
                        <a class="btn btn-app create-selector-template" ondblclick="createSelector(3)">
                            <i class="fa fa-star-o"></i> 打分
                        </a>
                        <a class="btn btn-app create-selector-template" ondblclick="createSelector(4)">
                            <i class="fa fa-th"></i> 矩阵打分
                        </a>
                        <a class="btn btn-app create-selector-template" ondblclick="createSelector(5)">
                            <i class="fa fa-square-o"></i> 填空
                        </a>
                        <a class="btn btn-app create-selector-template" ondblclick="createSelector(6)">
                            <i class="fa fa-th-large"></i> 矩阵填空
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-9 col-xs-12 pull-left" id="question-container">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="form-horizontal form-label-left">
                            <input type="hidden" class="form-control" id="question_id" value="{{.question.Id}}">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-10" for="first-name"><span class="required"></span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control" name="title" value="{{.question.Title}}" placeholder="问卷标题">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> <span class="required"></span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea class="form-control" rows="3">{{.question.Description}}"</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    /**
     * 新建题目
     * @param _type
     * @returns {boolean}
     */
    function createSelector(_type) {
        _reqUrl = "/selector";
        _questionId = $("#question_id").val();
        $.ajax({
            url:_reqUrl,
            dataType:"json",
            type:"post",
            data:{template_type:_type,question_id:_questionId},
            success:function (jsondata) {
                if(jsondata.Code==0) {
                    $("#question-container").append(jsondata.Content)
                }else{
                    alert(jsondata.Msg)
                }
            }
        });
        return true;
    }



    /**
     * 管理选项
     * @param thisDom
     * @param type
     * @param control
     * @returns {boolean}
     */
    function manageOption(thisDom,type,control){
        switch(type){
            case 1:
                var parentsDom = thisDom.parents('.form-horizontal');
                if( control === 0) {
                    parentsDom.append(singleOption);
                }else {
                    if(!confirm('确定删除该选项？')){
                        return false;
                    }
                    if(parentsDom.children('.form-group').length<=2){
                        alert('最少不能少于两条')
                        return false;
                    }
                    thisDom.parents('.form-group').remove();

                }
                parentsDom.children('.form-group').find('.glyphicon-plus').hide();
                parentsDom.children('.form-group').find('.glyphicon-minus').show();
                parentsDom.children('.form-group:last-child').find('.glyphicon-plus').show();
                parentsDom.children('.form-group:last-child').find('.glyphicon-minus').hide();
                break;
        }
    }
</script>
