<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Form Elements</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-3 pull-right">
                <div class="x_panel">
                    <div class="x_content">
                        <a class="btn btn-success">
                            <i class="fa fa-save"></i> 发布并分享
                        </a>
                        <a class="btn btn-info">
                            <i class="fa fa-play"></i> 预览
                        </a>
                    </div>
                </div>
                <div class="x_panel">
                    <div class="x_content">
                        <p>双击添加</p>
                        <a class="btn btn-app create-selector-template" selector-type="1">
                            <i class="fa fa-circle-o"></i> 单选
                        </a>
                        <a class="btn btn-app create-selector-template" selector-type="2">
                            <i class="fa fa-check-square-o"></i> 多选
                        </a>
                        <a class="btn btn-app create-selector-template" selector-type="3">
                            <i class="fa fa-star-o"></i> 打分
                        </a>
                        <a class="btn btn-app create-selector-template" selector-type="4">
                            <i class="fa fa-th"></i> 矩阵打分
                        </a>
                        <a class="btn btn-app create-selector-template" selector-type="5">
                            <i class="fa fa-square-o"></i> 填空
                        </a>
                        <a class="btn btn-app create-selector-template" selector-type="6">
                            <i class="fa fa-th-large"></i> 矩阵填空
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-9 col-xs-12 pull-left" id="question-container">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="form-horizontal form-label-left">
                            <input type="hidden" class="form-control" id="question_id" value="{{.question.QuestionId}}">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-10" for="first-name"><span class="required"></span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control" name="title" value="{{.question.Title}}" placeholder="问卷标题">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> <span class="required"></span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea class="form-control" rows="3" placeholder="rows=&quot;3&quot;">{{.question.Description}}"</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>单选：</h2>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                            </div>
                        </div>
                        <ul class="nav navbar-right panel_toolbox" style="min-width:0px;">
                            <li><i class="fa fa-close"></i></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    <div class="iradio_flat-green disabled" style="position: relative;"><input type="radio" class="flat" name="iCheck" disabled="disabled" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    <div class="iradio_flat-green disabled" style="position: relative;"><input type="radio" class="flat" name="iCheck" disabled="disabled" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(".create-selector-template").bind("dblclick",function(){
        createSelector($(this).attr("selector-type"));
    });
    function createSelector(_type) {
        _reqUrl = "/selector";
        _questionId = $("#question_id").val();
        $.ajax({
            url:_reqUrl,
            dataType:"json",
            type:"post",
            data:{template_type:_type,question_id:_questionId},
            success:function (jsondata) {
                if(jsondata.Code==0) {
                    $("#question-container").append(jsondata.Content)
                }else{
                    alert(jsondata.Msg)
                }
            }
        })
    }
</script>
